/*main settings for all sections*/

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .section-title {
    color: $text-title;
  font-size: rem(50px);
  font-weight: 600;
  line-height: 48px;
  margin-bottom: rem(32px);
  }

  .section-desc{
    font-family: 'Nunito Sans', sans-serif;
  font-size: rem(20px);
  font-weight: 400;
  line-height: 28px;
  color: $text-opacity;
  }